.work_container{
    grid-template-columns: repeat(3,320px);
    column-gap: 3rem;
    margin-top: 20px;

}
.work_button{
    display: inline-block;
  background-color: var(--title-color-dark);
  color: var(--container-color);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight:bold;
  margin-top: 20px;
}